<nav class="navbar container">
  <div class="container-fluid">
    <div class="d-flex">
      <a class="navbar-brand" routerLink="">
        <mat-icon aria-hidden="false" fontIcon="home"></mat-icon>
      </a>
      <a mat-button class="me-3" routerLink=""> Home </a>
      <a mat-button class="me-3" routerLink="/entries"> Entries </a>
    </div>

    <div class="d-flex">
      <a mat-flat-button class="me-3" routerLink="/write">
        <mat-icon aria-hidden="false" fontIcon="edit"></mat-icon>
        Write
      </a>
      <button mat-icon-button>
        <mat-icon aria-hidden="false" fontIcon="logout"></mat-icon>
      </button>
    </div>
  </div>
</nav>
