<div class="row">
  <div class="col-4">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search" />
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
    <mat-button-toggle-group
      vertical
      class="w-100"
      hideSingleSelectionIndicator
      aria-label="Font Style"
      (change)="handleEntrySelect($event)"
    >
      @for (entry of entries; track $index ) {
      <mat-button-toggle class="w-100" [value]="entry._id">{{
        entry.title
      }}</mat-button-toggle>
      }
    </mat-button-toggle-group>
    <div class="d-flex">
      <button class="mx-auto" mat-button>Load more</button>
    </div>
  </div>
  <div class="col-8 entry-detail">
    <router-outlet />
  </div>
</div>
